.navbar {
  background-color: #fff;
}
.activeNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #273c66;
}
.activePadding {
  padding: 3.5rem 0 !important;
}
.activeColor {
  color: #fff !important;
}
.activeColor2 {
  color: var(--text-color) !important;
}
.activeSub-Menu {
  position: absolute !important;
  left: 0 !important;
  top: 8.75rem !important;
}
.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar-header .nav_logo img {
  height: 4rem;
  object-fit: cover;
}
.navbar-header .categoris {
  display: flex;
  align-items: center;
}
.categoris .MuiSvgIcon-root {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-right: 0.8rem;
}
.categoris span {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
}
.nav-menu {
  display: flex;
  align-items: center;
}
.nav-menu .main-menu li {
  font-size: 1.57rem;
  text-transform: uppercase;
  margin-left: 2.5rem;
  padding: 5rem 0;
  cursor: pointer;
}
.nav-menu .main-menu li:first-child a {
  color: var(--btn-bg);
}
.nav-menu .main-menu li:hover a {
  color: var(--btn-bg);
}
.main-menu li a {
  color: var(--text-color);
  font-weight: 500;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.main-menu li a .negetive,
.main-menu li a .plus {
  width: 10px;
}

.main-menu li a .negetive {
  display: none;
}
.main-menu li a .plus {
  font-size: 1.6rem;
}
.main-menu li:nth-child(3):hover a .plus {
  display: none;
}
.main-menu li:nth-child(3):hover a .negetive {
  display: inline-block;
  font-size: 16px;
}

.main-menu li:nth-child(4):hover a .plus {
  display: none;
}
.main-menu li:nth-child(4):hover a .negetive {
  display: inline-block;
  font-size: 16px;
}
.nav-menu .right-main-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 6rem;
}
.right-main-menu li {
  margin-left: 2rem;
  cursor: pointer;
}
.right-main-menu li .MuiSvgIcon-root {
  font-size: 2rem;
  color: var(--text-color);
}
.right-main-menu li:first-child {
  padding-right: 1.2rem;
  padding-top: 0.2rem;
  border-right: 1px solid rgb(141, 141, 141);
}
.right-main-menu li:first-child .MuiSvgIcon-root {
  font-size: 2.5rem;
  color: rgb(85, 85, 85);
}
.right-main-menu li:last-child .MuiSvgIcon-root {
  font-size: 3.5rem;
  color: #000;
}

.sub-menu-head {
  position: relative;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}
.sub-menu-head .sub-menu {
  width: 20rem;
  position: absolute;
  left: 0;
  top: 11.75rem;
  z-index: 200;
  background-color: var(--btn-bg);
  padding: 1.5rem 0;
  opacity: 0;
  visibility: hidden;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform-origin: top;
}
.sub-menu-head .sub-menu li {
  padding: 1rem 1rem;
}
.sub-menu-head .sub-menu li a {
  color: #fff !important;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.sub-menu-head:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
}
.toggel-button1 {
  display: none;
}
@media screen and (max-width: 1199px) {
  .right-main-menu li:first-child {
    display: none !important;
  }
  .right-main-menu li:nth-child(2) {
    display: none !important;
  }
  .navbar-header .nav_logo img {
    height: 3.4rem;
  }
  .nav-menu .right-main-menu {
    margin-left: 0rem;
  }
  .nav-menu .main-menu li {
    font-size: 1.37rem;
  }
  .main-menu li a .plus {
    font-size: 1.4rem;
  }
  .main-menu li:nth-child(3):hover a .negetive {
    font-size: 1.4rem !important;
  }
  .main-menu li:nth-child(4):hover a .negetive {
    font-size: 1.4rem !important;
  }
  .toggel-button1 {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .top_header,
  .navbar-header .categoris {
    display: none;
  }
  .nav-menu {
    z-index: 100;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
  }
  .toggel-button1 {
    display: block;
  }
  .toggel-button1 .MuiSvgIcon-root {
    cursor: pointer;
    font-size: 3rem;
  }
  .navbar-header .nav_logo img {
    height: 3.3rem;
  }
  .navbar-header .nav_logo {
    padding: 3rem 0;
  }
  .nav-menu .right-main-menu {
    display: none;
  }
  .navbar-header {
    position: relative;
  }
  .main-menu {
    display: block;
    width: 100%;
  }
  .nav-menu .main-menu li {
    margin-left: 0rem;
    padding: 0rem 0rem;
    border-bottom: 1px solid #000;
  }
  .nav-menu .main-menu li:nth-child(1),
  .nav-menu .main-menu li:nth-child(2),
  .nav-menu .main-menu li:nth-child(5),
  .nav-menu .main-menu li:nth-child(6) {
    padding: 2.4rem 2rem;
  }
  .sub-menu-head a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sub-menu-head a {
    padding-left: 2rem;
  }
  .sub-menu-head a span {
    display: flex;
    justify-content: center;
    width: 5rem !important;
    height: 100% !important;
    background-color: #ddd;
    padding: 2.4rem 0;
  }
  .sub-menu-head .sub-menu {
    width: 100%;
    position: unset;
    opacity: 1;
    visibility: visible;
    display: none;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
  .sub-menu-head .sub-menu li {
    padding: 1rem 1.5rem !important;
    border-bottom: none;
  }
}

.active {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
}
.unactive {
  display: none;
}
.toggel-button {
  display: block !important;
}
