/* popup */
.video_popUp {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: none;
  background-color: rgba(0, 0, 0, 0.836);
}
.set_video {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.video_iconC {
  text-align: end;
}
.video_iconC .MuiSvgIcon-root {
  color: rgb(236, 234, 234);
  font-size: 2.5rem;
  cursor: pointer;
}
iframe {
  border: none;
  box-shadow: 0 0 8px rgb(0 0 0 / 60%);
  background: #000;
}
@media only screen and (max-width: 767px) {
  iframe {
    width: 650px;
    height: 400px;
  }
}
@media only screen and (max-width: 681px) {
  iframe {
    width: 450px;
    height: 350px;
  }
}
@media only screen and (max-width: 500px) {
  iframe {
    width: 350px;
    height: 200px;
  }
}
