.logo_slide {
  background-color: #f3f8f9;
  padding: 10rem 0;
}
.logo_slide .slick-slide {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.slide_logo_img a {
  outline: none;
  border: none;
}
.slide_logo_img img {
  height: 33px;
}
@media only screen and (max-width: 991px) {
  .logo_slide {
    padding: 7rem 0;
  }
}
